vw(size)
  (size/13.66)vw
#container
  position relative
  height: vw(550)
  .optBlock
    position: absolute
    right: vw(10)
    top: vw(10)
    z-index: 10
    width: vw(360)
    // height: vw(100)
    background: #fff