vw(size)
  (size/13.66)vw
.algorithm-index
  background: #ffffff
  padding: vw(15)
  .algorithm-box
    padding: vw(20) vw(20) vw(5)
    background: #f2f2f2
    border-left: vw(4) solid #b3b3b3
    font-size: vw(16)
    font-weight: 400
    margin-bottom: vw(30)
    .box-title
      margin: vw(5) 0
      padding-bottom: vw(10)
      border-bottom:1px solid #ccc 
    pre
      font-weight: 500