vw(size)
  (size/13.66)vw
.bright-index
  padding: vw(15)
  background: #ffffff
  min-height: 100vh
  .search-box
    width: 50%
    display: flex
    justify-content: space-around
    margin: 0 auto
    padding: vw(15)
    .input
      width: 80%
      line-height: vw(30)
      padding: 0 vw(5)
      border: none
      border: 1.5px solid #42cccc
      // border-radius: vw(8)
    .btn
      width: vw(70)
      background: #42cccc
      border: none
      color: #fff
      font-size: vw(15)
  .content-box
    width: 60%
    padding: vw(15)
    margin:0 auto
    .content-card
      width: 100%
      padding: vw(20)
      // border: 1px solid #42cccc
      border-radius: vw(5)
      margin-bottom: vw(20)
      box-shadow:0px 2px 9px 1px rgba(0, 0, 0, 0.12);
      span
        display: inline-block
        margin-right: vw(15) 
      // height: vw(150)
       