vw(size)
  (size/13.66)vw
.version-index
  background: #fff
  padding: vw(20)
  .version-title
    font-size: vw(25)
		font-weight: bold
  .cardWrapper
    padding-top: vw(35)
    overflow hidden
    .left-card
      float:left
      margin-left: vw(100)
    .right-card
      float:right
      margin-right: vw(100)
      margin-top: vw(225)
    .box-card>>>.el-card__header
      background: #42cccc
      color: #fff
      padding: 0 30px
      height :vw(40)
      line-height: vw(40)
    .box-card>>>.el-card__body
      padding: 0
    .box-card
      width: vw(340)
      height: vw(175)
      margin-bottom: vw(275)
      li
        color: #56595f
    .version-center
      width: vw(3)
      background: rgba(228,231,237,1)
      border-radius: vw(2)
      margin: 0 auto
      .center-dot
        width:vw(12)
        height:vw(12)
        background:rgba(66,204,204,1)
        opacity:0.48
        border-radius:50%
        margin-bottom: vw(215)
        margin-left: vw(-4.5)