vw(size)
  (size/13.66)vw
.pieChar-index
  background: #fff
  padding: vw(15)
  margin-top: vw(35)
  overflow hidden
  .pieChar-left
    width: 49%
    height: vw(400)
    float left
    border-right: 1px dashed #dbebfc;
    #pieCharLeft
      width: 100%
      height: 100%
  .pieChar-right
    width: 49%
    height: vw(400)
    float left
    margin-right: 1%
    #pieCharRight
      width: 100%
      height: 100%