vw(size)
  (size/13.66)vw
.table-index
  padding: vw(15)
  background: #fff
  .el-radio-group
    label
      margin-right: 0 !important
  .alert-icon
    width: vw(15)
    height vw(15)
    display: inline-block
    border-radius: 50%
    background-color: #67C23A
    &.close
      background-color: #FF5C58